<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/home/login.css">
    <title>ForgetPassword</title>
</head>
<body>
    <div class="forget">
        <input type="text" id="ForgetId" placeholder="아이디"><br>
        <input type="email" placeholder="이메일"><button>인증번호받기</button><br>
        <input type="number" placeholder="인증번호"><br>
        <button>찾기</button>
    </div>
</body>
</html>