<!-- Copyright (c) 2022 by Aigars Silkalns (https://codepen.io/colorlib/pen/rxddKy) -->

<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/home/login.css">
    <!-- <style>
      .login-form {
        width: 360px;
        padding: 8% 0 0;
        margin: auto;
        background-color: aqua;
      }
      body {
        background-color: white;
      }
    </style> -->
    <script src="/js/home/login.js" defer></script>
    <title>home</title>
</head> 
<body>
      <div class="login-page">
        <div class="form">
          <form class="login-form">
            <input id="id" type="text" placeholder="아이디"/><br>
            <input id="pw" type="password" placeholder="비밀번호"/><br>
            <p id="button">login</p>
            <p class="msg">Forget password? <a href="/ForgetPassword">Find your password</a></p>
            <p class="message">Not registered? <a href="/register">Create an account</a></p>
          </form>
        </div>
      </div> 
    <!-- <section>
      <div class="color"></div>
      <div class="color"></div>
      <div class="color"></div>
    </section> -->
</body>
</html>
